*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #444749;
}

.container{
    display: flex;
}

.user-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 80px;
    background-color: white;
    border-bottom: 1px solid #bec1bb;
}

.fotoPerfil{
    border-radius: 100%;
    width: 50px;
}

.maria-container{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.iconos-mensajes{
    padding: 5px;
    color: #828485;
}

.boton-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: white;
    border-bottom: 1px solid #bec1bb;
}

.boton-nuevochat{
    padding: 15px 50px;
    background-color: #A491D2;
    color: white;
    border: none;
    font-size: 15px;
}

.chat-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    overflow: scroll;
}

.chat-contactos-container{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #bec1bb;
}

.chat-contactos-container div{
    padding: 5px 10px;
}

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 6;
    height: 100vh;
    background-color:#E8ebe4;
}

.comienzaNetworking-titulo{
    font-size: 40px;
    font-weight: 400;
    padding: 10px;
}

.comienzaNetworking-item{
    padding: 5px;
}

.logo-manos{
    width: 350px;
}